.login{
    display: none;
}

.sesion{
    background: #E5E5E5;
}
.inicio1{
    margin-bottom: 0.6rem;
}
.divs{
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.edicion{
    padding-top: 1rem;
    margin-top: -1rem;
}
.titulos{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 1rem;
}
.correos{
    margin-bottom: 1rem;
    border: none;
    border-radius: 7px;
    width: 65%;
    height: 5vh;
    padding-left: 0.6rem;
    padding-top: 0.2rem;
}
.edicionc{
    margin-top: 0.5rem; 
}

.correos:focus{
    outline: none;
}
.claves{
    margin-bottom: 1rem;
    border: none;
    border-radius: 7px;
    width: 65%;
    height: 5vh;
    padding-left: 0.6rem;
    padding-top: 0.2rem;
}
.claves:focus{
    outline: none;
}
::placeholder{
    padding-top: 0.8rem;
    padding-left: 0.8rem;
}
.formcontato__textarea::placeholder{
    padding-top: 0.05rem;
    padding-left: 0.3rem;
}
.entrars{
    margin-bottom: 3rem;
}

@media screen and (min-width:700px){
    .inicio1{
        justify-content: left;
    }
    .buscar1{
        margin-left: 1.5rem;
    }
    .claves{
        width: 55%;
        height: 6vh;
    }
    .correos{
        width: 55%;
        height: 6vh; 
    }
}
@media screen and (min-width:1000px){
    .logo{
        width: 153px;
        height: 41px;  
    }
    .buscar1{
        margin-left: 4.5rem;
    }
    .claves{
        width: 40%;
        height: 6vh;
    }
    .correos{
        width: 40%;
        height: 6vh; 
    }
}